<div style="margin-bottom: 30px;">
    <h3>
        O que você está vendendo?
    </h3>
</div>
<div *ngFor="let produto of produtosDisponiveis" class="options">
    <button class="card"  onclick="select" >
        <div class="relative card-container pink-container" >
            <div class="static bg-pike-100 p-4 border-round">
                <p class="font-bold text-gray-900" style="margin-left: 30%; height: 30px;">{{produto}}</p>
                <div class="absolute bottom-0 left-0 bg-pink-500 border-round p-4 font-bold text-white" style="width: 30%; min-height: 100%; margin:0; justify-content: center; display: flex;">
                    Foto Produto
                </div>
            </div>
        </div>
    </button>
</div>





