<div *ngIf="_entrega">
    <div style="margin-bottom: 30px;">
        <h3>
            Vocês cobram uma taxa de entrega?
        </h3>
    </div>
    <div>
        <div>
            <p-button label="Sim, é cobrado ao realizar o pedido" (onClick)="cobrarEntrega(1)"></p-button>
            <p-button label="Sim, é cobrado ao receber o produto" (onClick)="cobrarEntrega(2)"></p-button>
            <p-button label="Não" (onClick)="cobrarEntrega(3)"></p-button>
        </div>
    </div>
    <div *ngIf="adicionarValor">
        <p-inputNumber  [(ngModel)]="valorTaxaEntrega" inputId="currency-pt" mode="currency" currency="BRL" locale="pt-BR" mask="R$ 8"placeholder="R$ 8"> </p-inputNumber>
        <h6 style="color: red;">Se houver mais de uma taxa de entrega, o registro deverá ser feito na plataforma</h6>
    </div>
</div>
<div style="margin-bottom: 30px;" *ngIf="!_entrega">
    <h3>
        Quais são as instruções para pedidos de retirada?
    </h3>
    <h6>
        Você também pode adicionar isso mais tarde.
    </h6>
    <div>
        <input type="text" pInputText [(ngModel)]="infoRetirada" class="input-area" placeholder ="Local, horário, etc." />
    </div>
</div>

