.input-area{
    background-color: rgb(255, 243, 245);
    width: 100%;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 25px;
    color: black;
}
