


<div class="body-cadastro">
    <div class="progress-bar">
        <p-progressBar [value]="progresso"></p-progressBar>
    </div>

    <div style="width: 80%;max-width: 600px;">

        <div>
            <app-quest-one *ngIf="indexProgresso === 1" class="elemento-fade-in"></app-quest-one>
            <app-quest-two *ngIf="indexProgresso === 2" class="elemento-fade-in"></app-quest-two>
            <app-quest-three *ngIf="indexProgresso === 3" class="elemento-fade-in"></app-quest-three>
            <app-quest-four *ngIf="indexProgresso === 4" class="elemento-fade-in"></app-quest-four>
            <app-quest-five *ngIf="indexProgresso === 5" class="elemento-fade-in"></app-quest-five>
            <app-quest-six *ngIf="indexProgresso === 6" class="elemento-fade-in"></app-quest-six>
            <app-quest-seven *ngIf="indexProgresso === 7" (metodoEntrega)= "receberMetodoEntrega($event)" class="elemento-fade-in"></app-quest-seven>
            <app-quest-eight *ngIf="indexProgresso === 8" [_entrega]= "entrega" [_retirada]= "retirada" class="elemento-fade-in"></app-quest-eight>
            <app-quest-nine *ngIf="indexProgresso === 9" class="elemento-fade-in"></app-quest-nine>
        </div>


        <div >
            <div style="margin-top: 80px;" *ngIf="habilitaBotaoContinuar">
                <p-button (onClick)="avancar()" class="proximo">
                    Próximo
                </p-button>
            </div>


            <p-button icon="pi pi-angle-up" (onClick)="retroceder()" class="assign-form"  *ngIf="desabAvancar" >

                Continuar para a plataforma
            </p-button>


            <div  class="arrow-buttons">
                <p-button icon="pi pi-angle-up" (onClick)="retroceder()" class="more-less" [disabled]="desabRetroceder"></p-button>

                <p-button icon="pi pi-angle-down" (onClick)="avancar()" class="more-less" [disabled]="desabAvancar"></p-button>
            </div>
        </div>

    </div>
</div>



